.share {
    width: fit-content;
    display: flex;
    justify-self: flex-end;
    border: 2px solid var(--color-principal-dark);
	border-radius: 50%;
    padding: .5rem;
    cursor: pointer;
}
.share_icon {
    align-self: center;
	width: 30px;
	height: 30px;
}
